<% if user_signed_in? %>
  <%= link_to user_garage_path(current_user, garage), class: 'index-card grow' do %>
    <div class="index-card-img-top" style="background-image: url(<%= cl_image_path garage.profile_image %>);"></div>
    <div class="index-card-body">
      <h5 class="index-card-title"><%= garage.name %></h5>
      <p class="index-card-text"><%= garage.street_address %>, <%= garage.city %></p>
      <h6 class="price-tag">€<%= garage.price_regular_bike %>/month</h6>
    </div>
  <% end %>
<% else %>
  <%= link_to user_garage_path(garage.user, garage), class: 'index-card grow' do %>
    <div class="index-card-img-top" style="background-image: url(<%= cl_image_path garage.profile_image %>);"></div>
    <div class="index-card-body">
      <h5 class="index-card-title"><%= garage.name %></h5>
      <p class="index-card-text"><%= garage.street_address %>, <%= garage.city %></p>
      <h6 class="price-tag">€<%= garage.price_regular_bike %>/month</h6>
    </div>
  <% end %>
<% end %>
