<h1>Garages#show</h1>
<p>Find me in app/views/garages/show.html.erb</p>

<div class="row">
  <div class="col-12 col-md-8">
    <h2><%= @garage.name %></h2>
    <p><%= @garage.description %></p>
    <p>capacity regular bikes: <%= @garage.capacity_reg_bikes %></p>
    <p>capacity large bikes: <%= @garage.capacity_large_bikes %></p>
  </div>
  <div class="col-12 col-md-8">
    <div>
      <%= simple_form_for [current_user, @garage, @booking] do |f| %>
        <%= f.input :start_date, as: :date, html5: true %>
        <%= f.button :submit %>
      <% end %>
    </div>
  </div>
</div>
