<h1>Garages#show</h1>
<p>Find me in app/views/garages/show.html.erb</p>

<div class="row">
  <div class="col-12 col-md-8">
    <h2><%= @garage.name %></h2>
    <p><%= @garage.description %></p>
    <p>capacity regular bikes: <%= @garage.capacity_reg_bikes %></p>
    <p>capacity large bikes: <%= @garage.capacity_large_bikes %></p>
  </div>
  <div class="col-12 col-md-8">
    <div>
      <%= simple_form_for [current_user, @garage, @booking] do |f| %>
        <%= f.input :start_date, as: :date, html5: true %>
        <% if current_user.bikes.exists? %>
          <%= f.input :bike_id, collection: current_user.bikes %>
          <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
            Create a new bike
          </button>
          <%= f.button :submit %>
        <% else %>
          <p>Create a bike before selecting a booking:</p>
          <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
            Create a new bike
          </button>
        <% end %>
      <% end %>
    </div>
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">New Bike</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <%= simple_form_for [current_user, @bike] do |f| %>
              <%= hidden_field :garage, :garage_id, value:  @garage.id %>
              <%= f.input :name %>
              <%= f.input :bike_size, collection: %w(regular cargo) %>
              <%= f.input :bike_type, collection: %w(electric non-electric) %>
              <%= f.button :submit %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
