<div
  id="map"
  class="garage-map"
  style="width: 100%;
  height: 300px;"
  data-markers="<%= @markers.to_json %>"
  data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"></div>

<div class="container">

  <div class="row">

    <div class="col-12 col-md-8">
      <div class="garage-show-body">
        <h2><%= @garage.name %></h2>
        <h3><%= @garage.street_number %> <%= @garage.street_address %>, <%= @garage.city %>, <%= @garage.country %></h3>
        <p><%= @garage.description %></p>
        <p>capacity regular bikes: <%= @garage.capacity_reg_bikes %></p>
        <p>capacity large bikes: <%= @garage.capacity_large_bikes %></p>
      </div>

      <div class= "garage-show-photo">
        <%= cl_image_tag @garage.profile_image, width: 400, height: 267, crop: :fill %>
      </div>

    </div>


    <div class="col-12 col-md-4">

      <div class="garage-show-booking">
        <% if user_signed_in?%>
          <%= simple_form_for [current_user, @garage, @booking], html: {id: :appear_price} do |f| %>
            <%= f.input :start_date, as: :date, html5: true %>
            <% if current_user.bikes.exists? %>
              <div id="array_bike_node" data-bikes="<%= current_user.bikes.map{|bike|{ id: bike.id, size: bike.bike_size  } }.to_json  %>" > </div>
              <%= f.input :bike_id, collection: current_user.bikes.map{|bike| [bike.name, bike.id] }, input_html: { :class => "selected-type" }  %>

              <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
                Create a new bike
              </button>
              <%= f.button :submit %>
              <div><h4>Regular bike price: <%= @garage.price_regular_bike %> € /month</h4></div>
              <div><h4>Large bike price: <%= @garage.price_large_bike %> € /month</h4></div>
              <div class="bike-price"></div>
            <% else %>
              <p>Create a bike before selecting a booking:</p>
              <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
                Create a new bike
              </button>
            <% end %>
          <% end %>
        <% else %>
          <h1>LOGIN IF YOU WANNA BOOK OR EDOUARD IS GOING TO GET MAD</h1>
        <% end %>
      </div>
      <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">New Bike</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <% if user_signed_in?%>
              <div class="modal-body">
                <%= simple_form_for [current_user, @bike] do |f| %>
                  <%= hidden_field :garage, :garage_id, value:  @garage.id %>
                  <%= f.input :name %>
                  <%= f.input :bike_size, collection: %w(regular cargo) %>
                  <%= f.input :bike_type, collection: %w(electric non-electric) %>
                  <%= f.button :submit %>
                <% end %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>

  </div>

</div>

<script>
  const typeSelectInput = document.querySelector('.selected-type');
  const array_bikes = JSON.parse(document.querySelector("#array_bike_node").dataset.bikes)
  console.log(typeof(array_bikes))
  typeSelectInput.addEventListener('change', e => {
    let id = Number(e.target.value)
    let bikesize = array_bikes.find((bike) => { console.log(bike) ;  return bike.id === id  }).size
    let regularBikePrice = <%= @garage.price_regular_bike.to_i %>;
    let largeBikePrice = <%= @garage.price_large_bike.to_i %>;
    let price_to_pay = ""
      if (bikesize === "cargo") {
        price_to_pay = "Your bike price/month: " + largeBikePrice + " €";
      } else if (bikesize === "regular") {
        price_to_pay = "Your bike price/month: " + regularBikePrice + " €";
      } else {
        price_to_pay = "";
      }
    document.querySelector('.bike-price').textContent = price_to_pay;
    });
</script>
