<h1>Hello World</h1>
<p><%= @booking.status %></p>

<% @chats.each do |message| %>
<p><%= message.content %></p>
<% end %>

<%= simple_form_for [current_user, @garage, @booking, @chat] do |f| %>
  <%= f.input :content %>
  <%= f.button :submit %>
<% end %>
