<div class="dashboard-container">

  <div class="sidebar">
    <%= render 'shared/dashboardsidebar'%>
  </div>

  <div class="dashboard-main">

    <div class="wrapper">

      <div class="chat-room">

            <div class="chat-header">
              <span>Your garage booking management with </span>
                <% if @booking.bike.user == current_user %>
                  <span><%= @booking.garage.user.first_name %> <%= @booking.garage.user.last_name %></span>
                <% else %>
                  <span><%= @booking.bike.user.first_name %> <%= @booking.bike.user.last_name %></span>
                <% end %>
            </div>

            <div class="messages">
              <% @booking.chats.each do |message| %>
                <%= render "chats/chat", message: message, user_is_messages_author: message.user == current_user %>
              <% end %>
            </div>
            <div id="create-message">
              <%= simple_form_for [ current_user, @garage, @booking, @chat ], remote: true do |f| %>
                <%= f.input :content, label: false, class: "message-input" %>
              <% end %>
            </div>

      </div>

      <div class="booking-reminder">
        <div class="chat-garage-image" style="background-image: url(<%= cl_image_path @booking.garage.profile_image %>);">
        </div>

        <% if @booking.bike.user == current_user %>
          <%= render 'users/biker-booking-card', booking: @booking %>
        <% else %>
          <%= render 'users/owner-booking-card', booking: @booking %>
        <% end %>

      </div>

    </div>

  </div>
</div>


<% content_for :after_js do %>
  <script>
    scrollLastMessageIntoView();
    App['chat_room_<%= @booking.id %>'] = App.cable.subscriptions.create(
      { channel: 'ChatRoomsChannel', booking_id: <%= @booking.id %> },
      {
        received: (data) => {
          if (data.current_user_id !== <%= current_user.id %>) {
            const messagesContainer = document.querySelector('.messages');
            messagesContainer.insertAdjacentHTML('beforeend', data.message_partial);
            scrollLastMessageIntoView();
          }
        }
      }
    )



  </script>
<% end %>
