 <div class="bike-booking-card">
  <% biker_name = "#{booking.bike.user.first_name.capitalize} #{booking.bike.user.last_name.capitalize}" %>
  <%= cl_image_tag(booking.bike.user.profile_image, width: 40, height: 40, crop: :fill, :class => "avatar-bordered") %>
  <%= cl_image_tag(booking.bike.bike_image, width: 40, height: 40, crop: :fill, :class => "avatar-bordered") %>
  <div class="bike-booking-card-info">
    <% if booking.status == 'pending' %>
      <p><strong><%= biker_name %></strong> wants to his bike <%= booking.bike.name %>.</p>
    <% elsif booking.status == 'rejected' %>
      <p class="larger-text">You have rejected <strong><%= biker_name %></strong>'s request.</p>
    <% elsif booking.status == 'accepted' %>
      <p class="larger-text">You have accepted <strong><%= biker_name %></strong>'s request. Waiting for payment.</p>
    <% elsif booking.status == 'paid' %>
      <p class="larger-text"><strong><%= biker_name %></strong>'s rental starts on <strong><%= booking.start_date %></strong>.</p>
    <% elsif booking.status == 'active' %>
      <p class="larger-text"><strong><%= biker_name %></strong> safes his bike <strong><%= booking.bike.name %></strong>.</p>
     <% elsif booking.status == 'cancelled_by_biker' %>
      <p class="larger-text">Biker <strong><%= biker_name %></strong> has cancelled the rental agreement.</p>
    <% elsif booking.status == 'done' %>
      <p class="larger-text"><strong><%= biker_name %></strong>'s rental ended on <strong><%= booking.end_date %></strong>.</p>
    <% else %>
      <p class="larger-text">error</p>
    <% end %>
    <p class='tag'><%= booking.status %></p>
    <p class='tag blue-tag'>€<%= booking.price %>/month</p>
  </div>
  <div class="buttons-container">
    <% if booking.status == 'pending'%>
      <%= link_to "accept", accept_user_path(@user, booking), class: 'btn-flat' %>
      <%= link_to "reject", reject_user_path(@user, booking), class: 'btn-flat red' %>
    <% end %>
    <% if %w(accepted paid active).include? booking.status %>
      <%= link_to "cancel", cancel_request_by_owner_user_path(@user, booking), class: 'btn-flat red' %>
    <% end %>
    <% if %w(cancelled_by_owner cancelled_by_biker rejected done).include? booking.status %>
      <%= link_to "remove", delete_request_user_path(@user, booking), :method => :delete, class: 'btn-flat red' %>
    <% end %>
    <%= link_to "contact biker", user_garage_booking_path(current_user, booking.garage, booking), class: 'btn-flat' %>
  </div>
</div>
