<div class="dashboard-main">
  <h2>Drop a Review</h2>
  <% @user.bikes.each do |bike| %>
    <% bike.bookings.where(status: "done").each do |booking| %>
      <div class="card-dashboard">
        <div class="card-dashboard-body">
          <h3><%= link_to booking.garage.name, user_garage_path(current_user, booking.garage_id) %></h3>
          <p><%= booking.start_date %> - <%= booking.end_date %></p>
          <p>Status: <%= booking.status %></p>
          <% if booking.reviews.any? %>
            <p> You alredy droped a review</p>
          <% else %>
            <div class="buttons buttons-right">
              <button type="button" class="btn btn-main buttons buttons-right" data-toggle="modal" data-target="#modal-<%=booking.garage.id %>">
                REVIEW
              </button>
            </div>
          <% end %>
          <div class="modal fade" id="modal-<%=booking.garage.id %>" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">DROP A REVIEW</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <%= simple_form_for([current_user, booking.garage, Review.new]) do |f| %>
                    <%= f.input :booking_id, as: :hidden, :input_html => { :value => "#{booking.id}" }  %>
                    <%= f.input :rating %>
                    <%= f.input :content %>
                    <%= f.button :submit, class: "btn btn-main" %>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
</div>

