<div class="dashboard-container" data-index="0">
  <div class="sidebar">
    <%= render 'shared/dashboardsidebar'%>
  </div>
  <!-- Display pending requests as a biker: -->
  <div class="dashboard-main" id="home-display">
    <% if @biker_pending_requests.any? %>
    <h3>Pending rental requests for your bikes:</h3>
      <% @biker_pending_requests.each do |booking| %>
        <%= render 'biker-booking-card', booking: booking %>
      <% end %>
    <% end %>
  <!-- Display received requests as an owner: -->
    <% if @owner_pending_requests.any? %>
    <h3>Pending requests for your garages:</h3>
      <% @owner_pending_requests.each do |booking| %>
        <%= render 'owner-booking-card', booking: booking %>
      <% end %>
    <% end %>

    <!-- Display the income if he is an owner and how much he is paying if he has a bike -->

    <div id = "return-rents">
      <div id= "owner-income">
        <% bookings = [] %>

        <!-- Owner calculations -->
        <% @income_bookings.each do |booking|  %>
          <% bookings << booking.price %>
        <% end %>
        <h3> <%= bookings.sum == 0 ? 'No garages rent' : ("Monthly income from your garages: €" + bookings.sum.to_s) %> </h3>
      </div>
      <div id= "biker-price">
        <% bookings = [] %>

        <!-- Biker calculations -->
        <% @paying_bookings.each do |booking|  %>
          <% bookings << booking.price %>
        <% end %>
        <h3> <%= bookings.sum == 0 ? 'You have no bike in a garage' : ("Monthly cost for your bike safes: €" + bookings.sum.to_s) %> </h3>
      </div>
    </div>
  </div>
</div>
