<div class="dashboard-container" data-index="3">

  <div class="sidebar">
    <%= render 'shared/dashboardsidebar'%>
  </div>

  <div class="dashboard-main">
    <h2>Rent agreements</h2>
    <div>
      <div>
        <% if @biker_bookings.where(status: "pending").any? %>
          <h3>Pending Bookings on my bikes:</h3>
          <% @biker_bookings.where(status: "pending").each do |biker_booking| %>
            <div class="card-dashboard">
              <p>Garage: <%= biker_booking.garage.name %></p>
              <p>Bike: <%= biker_booking.bike.name %> | by: <%= biker_booking.bike.user.first_name %></p>
              <p>Location: <%= biker_booking.garage.street_number %> <%= biker_booking.garage.street_address %></p>
              <p>Status: <%= biker_booking.status %></p>
              <div><%= link_to "Accept", "#" %></div>
              <div><%= link_to "Reject", "#" %></div>
              <div><%= link_to "Contact user", user_garage_booking_path(current_user, biker_booking.garage, biker_booking) %></div>
            </div>
          <% end %>
        <% end %>
      </div>
      <div>
        <% if @biker_bookings.any? %>
          <h3>Other Bookings on my bikes:</h3>
          <% @biker_bookings.where.not(status: "pending").each do |biker_booking| %>
            <div class="card-dashboard">
              <p>Garage: <%= biker_booking.garage.name %></p>
              <p>Bike: <%= biker_booking.bike.name %> | by: <%= biker_booking.bike.user.first_name %></p>
              <p>Location: <%= biker_booking.garage.street_number %> <%= biker_booking.garage.street_address %></p>
              <p>Status: <%= biker_booking.status %></p>
              <div><%= link_to "Contact user", user_garage_booking_path(current_user, biker_booking.garage, biker_booking) %></div>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>
