<div class="dashboard-container">

  <div class="sidebar">
    <%= render 'shared/dashboardsidebar'%>
  </div>

  <div class="dashboard-main">
    <h2>My garages list:</h2>

    <% @garages.each do |garage| %>
      <div class="card-dashboard">
        <p>Name: <%= garage.name %></p>
        <p>Address: <%= garage.street_number %> <%= garage.street_address %>, <%= garage.city %>, <%= garage.country %></p>
        <p>Capacity: <%= garage.capacity_reg_bikes %> regular bikes | <%= garage.capacity_large_bikes %> large bikes</p>
        <%= link_to "Show", user_garage_path(current_user, garage) %>
      </div>
    <% end %>

  </div>

</div>
