<div class="dashboard-container" data-index="2">

  <div class="sidebar">
    <%= render 'shared/dashboardsidebar'%>
  </div>

  <div class="dashboard-main">
    <h2>my garages</h2>

    <% @garages.each do |garage| %>
      <div class="garage-card-dashboard shadow">
        <div class="top-content">
          <%= link_to user_garage_path(garage.user, garage), class: 'garage-card-link' do %>
            <div class="garage-card-image" style="background-image: url(<%= cl_image_path garage.profile_image %>);"></div>
          <% end %>
          <div class="garage-card-info">
            <h5><%= garage.name %></h5>
            <p><%= garage.street_address %> <%= garage.street_number %>, <%= garage.city %></p>
            <p>Capacity: <%= garage.capacity_reg_bikes %> regular | <%= garage.capacity_large_bikes %> large</p>
            <div class="top-right">
              <div class="buttons-container">
                <%= link_to "garage page", user_garage_path(current_user, garage), class: 'btn-flat' %>
                <%= link_to "edit", edit_user_garage_path(current_user, garage), class: 'btn-flat' %>
                <%= link_to "delete", user_garage_path(current_user, garage), class: 'btn-flat red' %>
              </div>
              <% garage_bookings = [] %>
              <% garage.bookings.where(status: 'active').each do |booking|  %>
                <% garage_bookings << booking.price %>
              <% end %>
              <p class='tag blue-tag'>monthly income: €<%= garage_bookings.sum %></p>
            </div>
          </div>
        </div>
        <div class="wrap-collabsible">
          <input id="collapsible-<%=garage.id %>" class="toggle" type="checkbox">
          <label for="collapsible-<%=garage.id %>" class="lbl-toggle expand">expand to show bookings </label>
          <div class="collapsible-content">
            <div class="content-inner">
              <% garage.bookings.each do |booking| %>
                <div class="bike-booking-card">
                  <%= cl_image_tag(booking.bike.user.profile_image, width: 40, height: 40, crop: :fill, :class => "avatar-bordered") %>
                  <%= cl_image_tag(booking.bike.bike_image, width: 40, height: 40, crop: :fill, :class => "avatar-bordered") %>
                  <div class="bike-booking-card-info">
                    <p><%= booking.bike.user.first_name %> <%= booking.bike.user.last_name %> stores his bike <%= booking.bike.name %></p>
                    <p class='tag'><%= booking.status %></p>
                    <p class='tag blue-tag'>€<%= booking.price %>/month</p>
                  </div>
                  <div class="buttons-container">
                    <%= link_to "contact user", user_garage_booking_path(current_user, booking.garage, booking), class: 'btn-flat' %>
                    <%= link_to "cancel", user_garage_path(current_user, garage), class: 'btn-flat red' %>
                  </div>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    <% end %>

  </div>

</div>
