<div class="dashboard-container" data-index="0">

  <div class="sidebar">
    <%= render 'shared/dashboardsidebar'%>
  </div>

  <div class="dashboard-main">

      <% if @user.owner_bookings.where(status: "pending").any? %>
        <div class="card-dashboard">
          <h2>Pending requests:</h2>
          <% @user.owner_bookings.where(status: "pending").each do |booking| %>
            <div class="card-dashboard-request">
              <p>FROM: <%= booking.bike.user.first_name %> <%= booking.bike.user.last_name %></p>
              <p>For your garage: <%= booking.garage.name %></p>
              <p> <%= booking.garage.street_number %> <%= booking.garage.street_address %></p>
              <p>Status : <%= booking.status %></p>
              <%= link_to "Accept", accept_user_path(@user, booking), class: "btn btn-flat" %>
              <%= link_to "Decline", reject_user_path(@user, booking), class: "btn btn-flat" %>
              <%= link_to "Profile", "#", class: "btn btn-flat" %>
              </p>
            </div>
          <% end %>
        </div>
      <% end %>

      <div class="card-dashboard">
        <div class="account-headline row">
          <div class="account-body col-12 col-md-7">
            <h2><%= @user.first_name %>'s Profile</h2>
            <div class="account-info">
              <p class="info">First name:</p>
              <p><%= @user.first_name %></p>
            </div>
            <div class="account-info">
              <p class="info">Last name:</p>
              <p><%= @user.last_name %></p>
            </div>
            <div class="account-info">
              <p class="info">Email:</p>
              <p><%= @user.email %></p>
            </div>
            <div class="account-info">
              <p class="info">Address:</p>
              <p><%= @user.street_number %> <%= @user.street %></p>
            </div>
            <div class="account-info">
              <p class="info">City:</p>
              <p><%= @user.city %></p>
            </div>
            <div class="account-info">
              <p class="info">Country</p>
              <p><%= @user.country %></p>
            </div>
            <div class="account-info">
              <p class="info">Payment info:</p>
              <p><%= @user.payment_info %></p>
            </div>

            <%= link_to "Edit my profile", edit_user_path(@user), class: "btn btn-flat" %>
          </div>

        <div class="account-pic col-12 col-md-5">
          <% unless @user.profile_image.blank? %>
            <%= cl_image_tag(@user.profile_image, height: 200, width: 200, crop: :fill, class: "avatar-very-large") %>
          <% end %>
        </div>
      </div>
    </div>

  </div>

</div>
