<div class="container">
  <h2 id="title_HIW">How It Works</h2>

  <div>
    <form id = "form_toggle_button">
     <div class="radio-group" id="btn-background">
      <input type="radio" id="option-one" name="selector" checked><label class ="label-option" for="option-one">Biker</label><input type="radio" id="option-two" name="selector"><label class ="label-option" for="option-two">Owner</label>
      </div>
   </form>
  </div>


  <div id="tutorial-biker">

    <div class="card-landing-product">
      <div class="card-landing-infos">
        <div class="title_step">
          <div><h3>Step 1</h3></div>
          <div><h4>SignUp!</h4></div>
        </div>
        First thing to do is to search a garage that fits your likes.<br>
        Enter your address in the search bar and browse through all the garages availables. Don't hesistate to use the filters to find one offering the features you're looking for.<br>
        Once you've found the perfect garage, start filling the booking form by adding your bike on the platform. Select the start date that you wish for the beginning of the rent.<br>
        And that's it! Your request was sent to the owner of the garage. You now just have to wait for him to confirm that the spot is yours.
        </div>
      <div class="card-landing-image img_step" style="background-image: url('<%= image_path "ipad.jpg" %>'); background-repeat: no-repeat; width: 20vw; height: 30vh">
      </div>
    </div>

    <div class="card-landing-product">
      <div class="card-landing-infos">
        <div class="title_step">
          <div><h3>Step 2</h3></div>
          <div><h4>Waiting for confirmation</h4></div>
        </div>
          You can see in your Dashboard the booking requests you have made. For each booking you have different options: <br>
          1 - You can directly enter your payment information. <br>
          If afterwards the owner rejects your request you will, obviously, not be billed. <br>
          You can also pay after the owner has confirmed your request. <br>
          2 - You can contact the owner. You want to know more information about the garage? <br>
          You have other questions? use the builtin chat to talk with the owner.
          3 - cancel your request. You can cancel a rent at any time before the starting date. <br>
          Once the starting date has passed you will have to wait for the beginning of the next month to finish the rent.
      </div>
      <div class="card-landing-image img_step" style="background-image: url('<%= image_path "ipad.jpg" %>'); background-repeat: no-repeat; width: 20vw; height: 30vh">
      </div>
    </div>

    <div class="card-landing-product">
      <div class="card-landing-infos">
      <div class="title_step">
        <div><h3>Step 3</h3></div>
        <div><h4>Safe your bike!</h4></div>
      </div>
          Once both the owner has confirmed the booking and the biker has entered the payment info you don't have to do anything else! You can contact the owner and organize a location for you to meet and exchange the keys.
      </div>
      <div class="card-landing-image img_step" style="background-image: url('<%= image_path "ipad.jpg" %>'); background-repeat: no-repeat; width: 20vw; height: 30vh">
      </div>
    </div>

  </div>

  <div id="tutorial-owner" class="hidden_tutorial">

    <div class="card-landing-product">
      <div class="card-landing-infos">
        <div class="title_step">
          <div><h3>Step 1</h3></div>
          <div><h4>Add your garage</h4></div>
        </div>
        The first thing you whant to do after signing up is to add your own garage.<br>
        You may want to have a look at the existing garages in your area to see the average prices in the neighborhood.<br>
        Click in the "Add Your Garage" button in the navbar and fill in the form.<br>
        Don't forget to specify if you garage offers some special features (tyre pump, bicycle rack, etc)<br>
        Click on "submit" and that's it! Your garage is now online an available to be booked by other bikers!
        </div>
      <div class="card-landing-image img_step" style="background-image: url('<%= image_path "ipad.jpg" %>'); background-repeat: no-repeat; width: 20vw; height: 30vh">
      </div>
    </div>

    <div class="card-landing-product">
      <div class="card-landing-infos">
        <div class="title_step">
          <div><h3>Step 2</h3></div>
          <div><h4>Manage bikers requests</h4></div>
        </div>
          Once a biker wants to book your garage, his request will appear in your dashboard.<br>
            As an owner you have several options: <br>
            1 - accept the request;<br>
            2 - reject the request;<br>
            3 - contact the biker;<br>
            Once you accept a request, the booking will only start once the biker has entered his payment information (if he didn't already).<br>
            You can reject a request at any time before the biker enters his payment info. <br>
            You can contact the biker at any time during the rent. <br>
      </div>
      <div class="card-landing-image img_step" style="background-image: url('<%= image_path "ipad.jpg" %>'); background-repeat: no-repeat; width: 20vw; height: 30vh">
      </div>
    </div>

    <div class="card-landing-product">
      <div class="card-landing-infos">
      <div class="title_step">
        <div><h3>Step 3</h3></div>
        <div><h4>Done!</h4></div>
      </div>
          Once both the owner has confirmed the booking and the biker has entered the payment info, you don't have to do anything else! You can contact the biker and organize a location for you to meet and exchange the keys.
      </div>
      <div class="card-landing-image img_step" style="background-image: url('<%= image_path "ipad.jpg" %>'); background-repeat: no-repeat; width: 20vw; height: 30vh">
      </div>
    </div>

  </div>

</div>

<script>
  const postionCardsOne = document.querySelector("#option-one")
  const postionCardsTwo = document.querySelector("#option-two")
  const biker = document.querySelector("#tutorial-biker")
  const owner = document.querySelector("#tutorial-owner")
  postionCardsOne.addEventListener("click", ()=> {
    biker.classList.remove("hidden_tutorial");
    owner.classList.add("hidden_tutorial")
  })
  postionCardsTwo.addEventListener("click", ()=> {
    owner.classList.remove("hidden_tutorial");
    biker.classList.add("hidden_tutorial")
  })
</script>
