<div id="banner-landing"
style="background-image: linear-gradient(rgba(255,255,255,0.8),rgba(255,255,255,0.8)), url('<%= image_path "banner.jpg" %>');">
  <div id="search-landing">
    <%=  cl_image_tag('/logo.png') %>
    <h1>SafeMyBike</h1>
    <%= link_to "click here to safe your bike!", garages_index_path, class: "btn btn-flat grow" %>
  </div>
  <div class="arrow"><i class="fas fa-angle-double-down"></i></div>
</div>


<div class="explanation-card-container">
  <div id="landing-title">
    <div class="animation-container">
      <div class="garage">
        <div class="roof-container">
          <div class="roof"></div>
          <div class="inside-roof"></div>
          <div class="inside-roof-corner inside-roof-corner-left"></div>
          <div class="inside-roof-corner inside-roof-corner-right"></div>
        </div>
        <div class="wall">
          <div class="wall-cover"></div>
          <div class="wall-cover-top"></div>
          <div class="garage-content"></div>
          <div class="bicycle bike-slide">
            <div class="bike-container">
              <div class="bike">
                <div class="frame">
                  <div class="frame one"></div>
                  <div class="frame two"></div>
                  <div class="frame three"></div>
                  <div class="frame four"></div>
                  <div class="frame five"></div>
                  <div class="frame six"></div>
                  <div class="frame seat"></div>
                  <div class="frame pedal"></div>
                  <div class="frame handle"></div>
                </div>
                <div class="wheel">
                  <div class="wheel left">
                    <div class="spokes">
                      <div class="spoke"></div>
                      <div class="spoke"></div>
                      <div class="spoke"></div>
                      <div class="spoke"></div>
                      <div class="spoke"></div>
                      <div class="spoke"></div>
                    </div>
                  </div>
                  <div class="wheel right">
                    <div class="spokes">
                      <div class="spoke"></div>
                      <div class="spoke"></div>
                      <div class="spoke"></div>
                      <div class="spoke"></div>
                      <div class="spoke"></div>
                      <div class="spoke"></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="garage-door garage-door-slide">
            <div class="door-lines"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <h2>Looking for a place to store your <i class="fas fa-bicycle"></i> ?</h2>
      <h3>Rent a spot in a garage !</h3>
    </div>
  </div>

  <div class="landing-cards">
    <div class="container">
      <div class="row">
        <div class="col-12 col-md-4 grow">
          <div class="step-nbr">1</div>
          <div class="landing-card">
            <i class="fas fa-search-location"></i>
            <div class="explanation">
            Look for a garage nearby your home or your office. Enter the desired date for the start of your leasing and wait for the garage owner to get in touch !
            </div>
          </div>
        </div>
        <div class="col-12  col-md-4 grow">
          <div class="step-nbr">2</div>
          <div class="landing-card">
            <i class="fas fa-key"></i>
            <div class="explanation">
             The garage owner will confirm to you that the spot is yours, arrange the exchange of the keys and sign the lease agreement.
            </div>
          </div>
        </div>
        <div class="col-12  col-md-4 grow">
          <div class="step-nbr">3</div>
          <div class="landing-card">
            <i class="fas fa-warehouse"></i>
            <div class="explanation">
            That's it !
            <br>Store safely your bike in the garage whenever you're not cycling around the city.
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div>
    <form id = "form_toggle_button">
     <div class="radio-group" id="btn-background">
      <input type="radio" id="option-one" name="selector" checked><label class ="label-option" for="option-one">Biker</label><input type="radio" id="option-two" name="selector"><label class ="label-option" for="option-two">Owner</label>
      </div>
   </form>
  </div>
  <div id = "cards-position">
    <div id = "biker">
      <div class="row justify-content-around">
        <div class="col-12 col-md-8 card-landing-product">
          <div class="card-landing-image" style="background-image: url('<%= image_path "biker2.jpg" %>')">
          </div>
          <div class="card-landing-infos">
            <h2>You don't need a whole garage. Do you?</h2>
            <p>With <strong>SafeMyBike</strong>, you only rent a spot big enough to park your bicycle. You only pay a rent for a little portion of the garage, which is way cheaper than a regular garage leasing. </p>
          </div>
        </div>
        <div class="col-12 col-md-8 card-landing-product">
          <div class="card-landing-infos">
            <h2>Peace of mind for bikers</h2>
            <p>You don't want to leave your fancy electric bike in the street by night ? Don't want to carry it in your appartment ? SafeMyBike connects you with garage owners in order to find a <strong>safe shelter</strong> for your bicycle.</p>
          </div>
          <div class="card-landing-image" style="background-image: url('<%= image_path "biker1.jpg" %>')">
          </div>
        </div>
        <div class="col-12 col-md-8 card-landing-product">
          <div class="card-landing-image" style="background-image: url('<%= image_path "biker3.jpg" %>')">
          </div>
          <div class="card-landing-infos">
            <h2>Get rid of the hassle</h2>
            <p>SafeMyBike makes it easy for you : all the details regarding your leasing are centralized in your <strong>dashboard</strong>. Contact your garage owner in one click, stop or extend your rent whenever you need, and above all : enjoy cycling around the city without any worry ! </p>
          </div>
        </div>
      </div>
      <div class="landing-btn">
        <%= link_to "Learn more", how_it_works_path, class: "btn btn-flat grow" %>
      </div>
    </div>

    <div id = "owner" class="hidden_cards">
      <div class="row justify-content-around">
        <div class="col-12 col-md-8 card-landing-product">
          <div class="card-landing-infos">
            <h2>Got extra room in your garage ? Rent it!</h2>
            <p>For garage owners, <strong>SafeMyBike</strong> makes it easy to lease this unused space to enthusiast bikers. A cool way to make some extra-money and encourage better mobility in our cities.  </p>
          </div>
          <div class="card-landing-image" style="background-image: url('<%= image_path "biker4.jpg" %>')">
          </div>
        </div>
        <div class="col-12 col-md-8 card-landing-product">
          <div class="card-landing-image" style="background-image: url('<%= image_path "biker5.jpg" %>')">
          </div>
          <div class="card-landing-infos">
            <h2>Optimize your income</h2>
            <p>Imagine you would lease your garage to a dozen of bikers, you could quickly <strong>increase your monthly income</strong>, more than if you just lease it to a single car. You decide the price and the conditions.
          </div>
        </div>
        <div class="col-12 col-md-8 card-landing-product">
          <div class="card-landing-infos">
            <h2>Easy to use</h2>
            <p>With your dashboard, all the details about your leasing contracts and tennants are centralized in one place. In a few clicks, you can get in touch with any biker, manage your ongoing leases or change the amount of spots you want to offer</p>
          </div>
          <div class="card-landing-image" style="background-image: url('<%= image_path "biker6.jpg" %>')">
          </div>
        </div>
      </div>
      <div class="landing-btn">
        <%= link_to "Learn more", how_it_works_path, class: "btn btn-flat grow" %>
      </div>
    </div>

  </div>
</div>


<script>
  const postionCardsOne = document.querySelector("#option-one")
  const postionCardsTwo = document.querySelector("#option-two")
  const biker = document.querySelector("#biker")
  const owner = document.querySelector("#owner")
  postionCardsOne.addEventListener("click", ()=> {
    biker.classList.remove("hidden_cards");
    owner.classList.add("hidden_cards")
  })
  postionCardsTwo.addEventListener("click", ()=> {
    owner.classList.remove("hidden_cards");
    biker.classList.add("hidden_cards")
  })
</script>

<!-- <div id="explanation">
  <h2>Explanation</h2>
  <div class="row-landing">
    <div class="step-number"><div>1</div></div>
    <div class="explanation-text">
      <i class="fas fa-bicycle"></i>
      <div>
        Look for a garage nearby your home or your office. Enter the desired date for the start of your leasing and wait for the garage owner to confirm to you that the spot is booked for you !
      </div>
    </div>
  </div>
  <div class="row-landing line">
    <div class="line-corner-left"></div>
    <div></div>
  </div>
  <div class="row-landing">
    <div class="step-number"><div>2</div></div>
    <div class="explanation-text">
      <i class="fas fa-search-location"></i>
      <div>
        The garage owner will get in touch with you to arrange the exchange of the keys and sign the lease agreement.
      </div>
    </div>
  </div>
  <div class="row-landing line">
    <div class="line-corner-left"></div>
    <div></div>
  </div>
  <div class="row-landing">
    <div class="step-number"><div>3</div></div>
    <div class="explanation-text">
      <i class="fas fa-warehouse"></i>
      <div>
        That's it ! Store safely your bike in the garage whenever you're not cycling around the city.
      </div>
    </div>
  </div>
</div> -->




