<!DOCTYPE html>
<html>
  <head>
    <title>SafeMyBike</title>
    <meta property="og:title" content="SafeMyBike" />
    <meta property="og:image" content="https://www.safemy.bike/assets/banner-e3878b001cce490dfd628fa2c9bb98d0f97af234732626ced895aa90ed0e99de.jpg" />
    <meta name="description" content="Look for a garage nearby your home or your office. Enter the desired date for the start of your leasing and wait for the garage owner to get in touch ! ">

    <!-- Google / Search Engine Tags -->
    <meta itemprop="name" content="SafeMyBike">
    <meta itemprop="description" content="Look for a garage nearby your home or your office. Enter the desired date for the start of your leasing and wait for the garage owner to get in touch ! ">
    <meta itemprop="image" content="https://www.safemy.bike/assets/banner-e3878b001cce490dfd628fa2c9bb98d0f97af234732626ced895aa90ed0e99de.jpg">

    <!-- Facebook Meta Tags -->
    <meta property="og:url" content="https://www.safemy.bike">
    <meta property="og:type" content="website">
    <meta property="og:title" content="SafeMyBike">
    <meta property="og:description" content="Look for a garage nearby your home or your office. Enter the desired date for the start of your leasing and wait for the garage owner to get in touch ! ">
    <meta property="og:image" content="https://www.safemy.bike/assets/banner-e3878b001cce490dfd628fa2c9bb98d0f97af234732626ced895aa90ed0e99de.jpg">

    <!-- Twitter Meta Tags -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="SafeMyBike">
    <meta name="twitter:description" content="Look for a garage nearby your home or your office. Enter the desired date for the start of your leasing and wait for the garage owner to get in touch ! ">
    <meta name="twitter:image" content="https://www.safemy.bike/assets/banner-e3878b001cce490dfd628fa2c9bb98d0f97af234732626ced895aa90ed0e99de.jpg">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= favicon_link_tag asset_path('logo.png') %>
    <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v1.2.0/mapbox-gl.css' rel='stylesheet' />
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= stylesheet_pack_tag 'application', media: 'all' %>
  </head>
  <body>
    <%= render 'shared/navbar' %>
    <%= render 'shared/flashes' %>
    <%= yield %>
    <%= render 'shared/footer' %>
    <%= javascript_include_tag 'application' %>
    <%= javascript_pack_tag 'application' %>
    <%= yield :after_js %>
  </body>
</html>
